@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
	accent-color: #1470ff;
	cursor: pointer;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

label {
	cursor: pointer;
}

input,
textarea {
	-moz-user-select: auto;
	-webkit-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	border: none;
	outline: none;
	background-color: transparent;
}

input:focus {
	outline: none;
}

button {
	outline: none;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'BCcardB';
	font-weight: normal;
	font-style: normal;
	src: url('font/BCcardB.woff') format('woff');
}
